footer
  .section.theme-two.footer-section
    .container
      .text-center
        .row
          .col-lg-12.social-icons
            // email
            span contact@melangepastrylab.com
            // fb
            a(href='https://www.facebook.com/melangepastrylab')
              i(aria-hidden='true').fa.fa-2x.fa-spin.fa-facebook-square
            // insta
            a(href='https://www.instagram.com/melangepastrylab/')
              i(aria-hidden='true').fa.fa-2x.fa-spin.fa-instagram
script(src='public/js/jquery.js')
script(src='public/js/bootstrap.min.js')
script(src='https://use.fontawesome.com/d6607c1edf.js')
