doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='melange pastry lab')
    meta(name='author', content='contact@melangepastrylab.com')
    title melange - #{title}
    link(href='/public/css/bootstrap.min.css', rel='stylesheet')
    link(href='/public/css/style.css', rel='stylesheet')
  body(style='background-image:url(/public/images/background.png)')
    nav.navbar.melange-navbar
      .white-text.text-center
        a.mg-navbar-item(href='/') about
        a.mg-navbar-item(href='/products') treats
        object.mg-navbar-item.logo(type='image/svg+xml', data='/public/images/svgs/logo.svg')
        span.mg-navbar-item media
        span.mg-navbar-item contact
        //span.glyphicon.glyphicon.glyphicon-log-in
