- var title = 'melange pastry lab'
include includes/header.pug
.section.top-section
  .container
    h1.text-center #{title}
    .row
      .text-center welcome!
        .row
          body.backgroundimg
include includes/footer.pug
