- var title = 'melange pastry lab'
include includes/header.pug
.div(style='position:relative')
  .section
    .container
      .row
        .col-md-6
          .media
            .media-left
              a(href='#')
                .media-object
                  object(type='image/svg+xml', data='public/svgs/logo.svg')
            .media-body
              .media-heading
                asdfasdfasdf
include includes/footer.pug
