- var title = 'melange pastry lab'
include includes/header.pug
.container
  .section
    .row
      .col-md-3
        a(href='products/macaron').media-object
          img(src='/public/images/jpgs/macaron/macaron.jpg', style="max-height:250px").img-thumbnail
      .col-md-3
        a(href='products/tart').media-object
          img(src='/public/images/jpgs/tart/tart.jpg', style="max-height:250px").img-thumbnail
      .col-md-3
        a(href='products/financier').media-object
          img(src='/public/images/jpgs/financier/financier.jpg', style="max-height:250px").img-thumbnail
      .col-md-3
        a(href='products/cookie').media-object
          img(src='/public/images/jpgs/cookie/cookie.jpg', style="max-height:250px").img-thumbnail
    .row
      .col-md-3
        a(href='products/madeleine').media-object
          img(src='/public/images/jpgs/madeleine/madeleine.jpg', style="max-height:250px").img-thumbnail
      .col-md-3
        a(href='products/choux').media-object
          img(src='public/images/jpgs/choux/choux.jpg', style="max-height:250px").img-thumbnail
include includes/footer.pug
