.theme-two {
  background-color: #000000;
  color: #FFF;
}

.theme-three {
  background-color: #4B516B;
  color: #FFF;
}

.navbar.melange-navbar {
  margin: 0;
  border-radius: 0;
  font-size: 18px;
  letter-spacing: 2px;
}

.melange-navbar .glyphicon {
  padding: 5px;
}

.section {
  padding: 20px 0;
  /*margin: 20px 0;*/
}

.section.footer-section {
  /*margin: 20px 0 0 0;*/
  position:absolute;
  bottom:0;
  width: 100%;
}

.social-icons .fa {
  padding: 5px;
}

.navbar a, .social-icons a {
  color: inherit;
  text-decoration: inherit;
}

.navbar a:hover, .social-icons a {
  color: inherit;
  text-decoration: inherit;
}

.navbar a:visited, .social-icons a {
  color: inherit;
  text-decoration: inherit;
}

.white-text {
  color: white;
  font-weight: lighter;
}
